* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
}
.content-header {
  background: #252b42;
  height: 58px;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  font-family: "Montserrat";
  font-size: 14px;
}
.content-header > div:nth-child(3) {
  display: flex;
}
.content-header > div:nth-child(3) h4 {
  margin-right: 15px;
  cursor: pointer;
}
.content-header > div:first-child {
  display: flex;
}
.content-header > div:first-child h4 {
  margin-right: 25px;
}
.navbar-light {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-light > div {
  display: flex;
}
h1 {
  color: #252b42;
  margin-right: 71px;
}
.navbar-light > div {
  color: #737373;
  padding: 0 36px;
}
.iykm_p > p {
  color: #23a6f0;
  margin-right: 20px;
}
.Song > p {
  margin-right: 20px;
}
.slaq {
  padding-left: 7px;
}
.shop-hero-1-product-slide-1 {
  position: relative;
  color: beige;
  height: 716px;
  background-image: url(../img/shop-hero-1-product-slide-1.jpeg);
}
.texs_blok {
  position: absolute;
  top: 208px;
  left: 197px;
}
.shop-hero-1-product-slide-1 > div > h2 {
  font-size: 58px;
  margin: 35px 0;
}
.div_button {
  margin: 35px 0;
  background: #211dcaeb;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  border: 0;
}
.slaq_button {
  position: absolute;
  top: 272px;
  width: 100%;
  padding: 0 41px;
  display: flex;
  justify-content: space-between;
}
.kiopka_button {
  display: flex;
  justify-content: center;
  padding-top: 657px;
}
.nav-box > h3 {
  font-size: 24px;
  color: #252b42;
  padding: 80px 0 10px;
  text-align: center;
}
.nav-box {
  padding-bottom: 80px;
}
.nav-box > p {
  text-align: center;
  padding-bottom: 48px;
  color: #737373;
}
.grid-container > div > div {
  width: 170px;
  height: 48px;
  color: #252b42;
  background: #fff;
  position: absolute;
  bottom: 26px;
  left: 30px;
  border-radius: 4px;
  line-height: 48px;
  text-align: center;
}
.grid-container > div {
  border: 2px solid red;
}

.grid-container {
  width: 1049px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 31px;
}
.item1 {
  grid-row: 1/2;
  grid-column: 1;
  position: relative;
}
.item2 {
  grid-row: 1/1;
  grid-column: 2;
  position: relative;
}
.item3 {
  /* grid-row: 1/2; */
  grid-column: 3;
  position: relative;
}
.item4 {
  /* grid-row: 3/3; */
  grid-column: 3;
  position: relative;
}
.desktop-product-cards-10 {
  text-align: center;
}
.section-title {
  color: #737373;
  font-size: 20px;
  line-height: 30px;
  padding: 80px 0 10px 0;
}
.title_h2 {
  color: #252b42;
  font-size: 24px;
  line-height: 32px;
}
.paragraph {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  padding: 10px 0 80px 0;
}
.row_box {
  width: 1076px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.product-colors {
  display: flex;
  justify-content: center;
}
.span-colors1 {
  background: #23a6f0;
}
.span-colors2 {
  background: #23856d;
}
.span-colors3 {
  background: #e77c40;
}
.span-colors4 {
  background: #252b42;
}
.row_box div > span {
  display: block;
  width: 16px;
  height: 16px;
  margin: 3px;
  border-radius: 50px;
}
.row_box > div {
  width: 239px;
  margin: 0 15px;
  height: 615px;
}
.prices {
  display: flex;
  justify-content: center;
}
.row_box > div > h5 {
  margin: 24px 0 10px 0;
  font-size: 15px;
}
.prices > h5 {
  font-size: 16px;
  margin: 15px 5px;
}
.prices > h5:nth-child(1) {
  color: #bdbdbd;
}
.prices > h5:nth-child(2) {
  color: #23856d;
}
.row_box > div {
  margin-bottom: 80px;
}
.shop-hero-2-product-slide-2 {
  background: rgba(49, 51, 62, 0.92);
  width: 100%;
  height: 711px;
  color: #fff;
  position: relative;
}
.avatar {
  display: flex;
  justify-content: space-around;
  padding-top: 112px;
}
.shop-hero-2 {
  font-size: 20px;
}
.shop-hero-2 > h4 {
  padding: 68px 0 30px;
}
.shop-hero-2 > h2 {
  font-size: 58px;
  margin-bottom: 30px;
}
.shop-hero-2 > p {
  margin-bottom: 30px;
}
.shop-hero-2 > div > h5 {
  font-size: 24px;
}
.button_1 {
  width: 162px;
  height: 52px;
  background: #211dca;
  border-radius: 5px;
  margin-left: 30px;
  color: #fff;
  border: 0;
}
.slaq_button_2 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 401px;
  padding: 0 40px;
}
.kiopka_button_2 {
  display: flex;
  justify-content: center;
  padding-top: 38px;
}
.container-fluid {
  display: flex;
  justify-content: center;
}
.container-fluid > div {
  width: 725px;
  height: 682px;
  margin: 0 105px;
}
.container-fluid h5 {
  color: #bdbdbd;
  margin: 178px 0 30px;
  font-size: 16px;
}
.container-fluid h2 {
  color: #252b42;
  margin-bottom: 30px;
  font-size: 40px;
}
.container-fluid p {
  font-size: 20px;
  line-height: 30px;
  color: #737373;
}
.btn-text {
  color: #2dc071;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 52px;
  width: 173px;
  height: 52px;
  text-align: center;
  border: 1px solid #2dc071;
  border-radius: 5px;
  margin-top: 30px;
}
.row--title {
  text-align: center;
}
.row--title h5 {
  color: #23a6f0;
  font-size: 14px;
  margin: 112px 0 10px;
}
.row--title h2 {
  color: #252b42;
  font-size: 40px;
  margin-bottom: 10px;
}
.row--title p {
  color: #737373;
  font-size: 14px;
  margin-bottom: 80px;
}
.col-md-3 {
  display: flex;
  justify-content: center;
}
.col-md-3 > div {
  width: 348px;
  position: relative;
  margin: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 35px;
}
.tags--div {
  display: flex;
  font-size: 12px;
}
.tags--div p {
  margin: 25px 0 10px 0;
}
.tags--div p:nth-child(1) {
  color: #8ec2f2;
  margin-left: 25px;
  margin-right: 10px;
}
.tags--div p:nth-child(2) {
  color: #737373;
  margin-right: 15px;
}
.tags--div p :nth-child(3) {
  color: #737373;
}
.col-md-3 > div > h4 {
  color: #252b42;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.col-md-3 > div > p {
  color: #737373;
  margin-bottom: 25px;
  margin-left: 25px;
}
.Frame {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.Frame > div {
  margin: 0 25px;
}
.Frame > div > h4 > img {
  margin-right: 7px;
}
.second-text {
  color: #737373;
  display: flex;
  margin-left: 25px;
}
.second-text > h4 {
  margin-right: 10px;
}
.danger-color {
  background: #e74040;
  border-radius: 3px;
  color: #fff;
  width: 38px;
  height: 24px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.light-gray {
  display: flex;
  height: 142px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.light-gray > div :nth-child(1) {
  margin-left: 195px;
  color: #252b42;
  font-size: 24px;
}
.light-gray > div :nth-child(3) {
  margin-right: 258px;
}
.light-gray > div > img {
  padding: 0 11px;
}
footer {
  height: 272px;
  background: #252b42;
}
.desktop-footer {
  background: #fafafa;
  width: 100%;
  height: 74px;
}
.desktop-footer > h5 {
  color: #737373;
  margin-left: 195px;
  line-height: 74px;
}
